
  <h4>Discussions:</h4>
  <a id="addDiscussion" ><span class="glyphicon glyphicon-plus"></span></a>
    <a id="minusDiscussion"><span class="glyphicon glyphicon-minus"></span></a>

  <div class="well newDiscussion" style="display:none;">
    <%= render 'discussions/new' %>
  </div>

  
  <table class="table table-striped" id="discussionTable">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Added by</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @discussions.each do |discussion| %>
       <%= render partial: 'discussions/row', locals: { discussion: discussion } %>
      <% end %>
    </tbody>

  </table>
