<h2>Discussions</h2>
<h3>Showing all discussions</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    
    <% @discussions.each do |d| %>  
      <tr>
        <td><%= link_to "#{d.title}", discussion_path(d) %></td>
        <td><%= d.description %></td>
        <td><%= link_to "Delete", discussion_path(d), method: :delete, data: {confirm: "are you sure?"} %></td>
      <tr>
    <% end %>

  </tbody>
</table>


