
<div class="well">
  <center>
    <h2><%= @discussion.title %></h2>
    <p><%= @discussion.description %></p>
  </center>
</div>

<div class="well well-sm">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Comments:</th>
      <th><a id="addComment" ><span class="glyphicon glyphicon-plus"></span></a>
    <a id="minusComment"><span class="glyphicon glyphicon-minus"></span></a></th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <%= render partial: 'comments/row', locals: {comment: comment} %>
    <% end %>
  </tbody>
</table>
</div>

<div class="newComment" style="display:none;">
  <%= render 'comments/new' %>
</div>