<tr id="<%= dom_id(comment) %>">
  <td>
  <%= (User.find comment.user_id).first_name.capitalize %> said: <br>
  <%= comment.body %>
  </td>
  <td>
  <%= link_to "Delete this comment", discussion_comment_path(@discussion, comment), 
    method: :delete, data: {confirm: "are you sure?"}, remote: true %>
  </td>
</tr> 