
  <h4>Tasks: </h4>
  <a id="addTask" ><span class="glyphicon glyphicon-plus"></span></a>
    <a id="minusTask"><span class="glyphicon glyphicon-minus"></span></a>
  <%= flash[:alert] %>

  <div class="well newTask" style="display:none;">
    <%= render "tasks/new" %>
  </div>



  
  <table class="table table-striped" id="tasksTable">
    <thead>
      <tr>
        <th>Title</th>
        <th>Due Date</th>
        <th>Added By</th>
        <th></th>
      </tr>

    </thead>
    <tbody>
        <% @tasks.each do |task| %>
          <%= render partial: '/tasks/row', locals: { task: task }%>
        <% end %> 
    </tbody>
  </table>
  
 
