<div class="row">

  <div class="col-md-2"><h2> PROJECTS </h2></div>
  <div class="col-md-1"  style="margin-top: 32px;">
    <a id="add" ><span class="glyphicon glyphicon-plus"></span></a>
    <a id="minus"><span class="glyphicon glyphicon-minus"></span></a>
  </div>
  <div class="col-md-9" style="margin-top: 32px;">
    <a id="favorites">Favorites</a>
  </div>
</div>

<div class="newProject">
  <%= render 'new' %>
</div>

<div id="favoriteIndex" style="display: none;">
  <h6> Favorite Index </h6>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Description</th>
        <th>Due Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @favorites.each do |favorite| %>
        <%= render 'projects/table', p: favorite %>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<table class="table table-striped" id="projectIndex">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Description</th>
      <th>Due Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <%= render 'projects/table', p: project %>
    <% end %> 
  </tbody>

</table>



<%= will_paginate @projects %>

