<!DOCTYPE html>
<html>
<head>
  <title>PMTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/">The Home Page</a>
|
<a href="/home/about/">The About Page</a>
<br>
<a href="/tasks/">Tasks Index Page </a>
|
<a href="/tasks/new">New tasks Page </a>
<br><br>
<%= yield %>

</body>
</html>
